<%- include('../partials/header') %>

<main class="main" id="jokeSingleMain">
<div class="container">
    <p class="punchline"><%- data.punchline %></p>
    <div class="troll-div">
        <img src="/images/<%= randomTroll %>" alt="troll image" class="troll-gif img-fluid">
    </div>
</div>

</main>


<%- include('../partials/footer') %>